.hero-banner {
    padding: 100px 7%;
    background-color: var(--primary-bg-4);
}

.hero-banner h6 {
    margin-bottom: 15px;
    font-weight: 400;
}

.hero-banner-aside span {
    color: var(--accent-1);
}

.hero-banner-aside h2{
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 40px;
}

.hero-banner h1{
    margin-bottom: 5px;
    font-size: 40px;
}

.hero-banner-aside p{
    font-weight: 300;
    margin-bottom: 15px;
}